.navbar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid var(--border-light);
  padding-left: 20px;
  padding-right: 20px;
  color: var(--font-light);
}
.navbar .searchInput {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-light);
  padding: 0rem 0.5rem;
}
.navbar .searchInput input {
  border: none;
  background: transparent;
  padding: 0.5rem 1rem;
  outline: none;
}
.navbar .searchInput input::placeholder {
  font-size: 12px;
  font-family: "Work Sans", sans-serif;
}
.navbar .searchInput .icon {
  color: var(--primary-color);
  font-size: 1.2rem;
}
.navbar .navbarItems {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
.navbar .navbarItems .item {
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
}
.navbar .navbarItems .item .count {
  position: relative;
}
.navbar .navbarItems .item .count span {
  position: absolute;
  top: -1rem;
  right: 0;
  width: 15px;
  height: 15px;
  background-color: rgb(184, 2, 2);
  color: white;
  border-radius: 50%;
  text-align: center;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
}

.profileImage {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}